<h1>Images Process</h1>
<p>This website compress and process your image and convert their format live</p>

<ol>
    <li>baseUrl/url?`imageUrl=url`</li>
    <dl>
        <dd>Options:
            imageWidth // number of pixels
            imageHeight // number of pixels
            imageFormat // png, webp, jpg, jpeg</dd>
        <dd>response will be an image you can use it in image src directly</dd>
    </dl>
</ol>

<ol>
    <li>baseUrl/data-base64?`imageUrl=url`</li>
    <dl>
        <dd>Options:
            imageWidth // number of pixels
            imageHeight // number of pixels
            imageFormat // png, webp, jpg, jpeg</dd>
        <dd>response will be an base64 data you can use it in image src directly</dd>
    </dl>
</ol>